.vscode/
logs
*.log
npm-debug.log*
.DS_Store
*.pyc

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette

demo/api/.installed.cfg
demo/api/.mr.developer.cfg
demo/api/bin/
demo/api/lib/
demo/api/parts/
demo/api/pyvenv.cfg
demo/api/src/
demo/api/var/

*~
