.vscode/
logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette

cypress/videos

api/.installed.cfg
api/.mr.developer.cfg
api/bin/
api/develop-eggs/
api/lib/
api/parts/
api/pyvenv.cfg
api/var/
api/eggs/
api/lib64
api/share
